{# templates/folder/_folder.html.twig #}
<li>
    <a href="{{ path('folder_show', {'id': folder.id}) }}">{{ folder.name }}</a>
    - <a href="{{ path('folder_edit', {'id': folder.id}) }}">Edit</a>
    - <form action="{{ path('folder_delete', {'id': folder.id}) }}" method="post" style="display: inline;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
        <button type="submit">Delete</button>
    </form>

    {% if folder.subFolders is not empty %}
        <ul>
            {% for subFolder in folder.subFolders %}
                {% include 'folder/_folder.html.twig' with {'folder': subFolder} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>


