{% extends 'base.html.twig' %}

{% block body %}
<!--{{ knp_menu_render('breadcrumb_menu', {'template': 'menu/breadcrumb.html.twig'}) }}-->
<html lang="fr">

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('folder_index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Paper-organizer</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('folder_index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading text-white">
                Dossier
            </div>

            {% if folders is empty %}
                <p>Vous n'avez pas encore de dossiers.</p>
            {% else %}
                <ul>
                    {% for folder in folders %}
                        <li>
                            <a class="text-white" href="{{ path('folder_show', {'id': folder.id}) }}">
                                {{ folder.name }}
                            </a>
                            <a class="btn btn-success" href="{{ path('folder_edit', {id: folder.id}) }}">Edit</a>
                            <form method="post" action="{{ path('folder_delete', {id: folder.id}) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this folder?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ folder.id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="{{ asset('/img/undraw_rocket.svg') }}"
                    alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components,
                    and more!</p>
                <a class="btn btn-success btn-sm" href="">Upgrade to
                    Pro!</a>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Permet d'affichher la barre de recherche -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.email }}</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ asset('/img/undraw_profile.svg') }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Réglages
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tableaux de bord</h1>
                        <div class="btn-group">
                            <a href="#" id="show-upload-form" class="">
                                <a href="#"
                                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-2"
                                   data-toggle="modal" data-target="#folderModal">
                                    <i class="fas fa-folder-plus fa-sm text-white-50"></i> Crée un dossier
                                </a>
                                <a href="#"
                                   class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm ml-2"
                                   data-toggle="modal" data-target="#uploadModal">
                                    <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un document
                                </a>
                            </a>
                        </div>
                    </div>

                    <!-- ICI TOUT LES MESSAGES SERONT AFFICHES -->

                    {% for message in app.flashes('success') %}
                        <div class="flash-success flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="flash-error flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <!-- FIN DE L'AFFICHAGE DES MESSAGES -->

                    <!-- ICI TOUTE LES MODALES SERONT AFFICHEES -->

                    <!-- Modal pour ajouter un dossier -->
                    <div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="folderModalLabel">Créer un nouveau dossier</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_label(form.name, 'Nom du dossier') }}
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                                    {# Cacher le champ parent #}
                                    {% if form.parent is defined %}
                                        <div style="display: none">  {{ form_label(form.parent, 'Dossier parent')}}</div>
                                        {{ form_widget(form.parent, { 'attr': {'class': 'd-none'} }) }}

                                    {% endif %}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal pour ajouter un document -->
                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uploadModalLabel">Ajouter un document</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ form_start(formDocuments) }}
                                    {{ form_row(formDocuments.title) }}
                                    {{ form_row(formDocuments.file) }}
                                    <button class="btn">{{ button_label|default('Upload') }}</button>
                                    {{ form_end(formDocuments) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FIN DE L'AFFICHAGE DES MODALES -->




                    <!-- Content Row -->
                    <div class="row">
                        {% if documents is empty %}
                            <p class="ml-3">Aucun document pour le moment.</p>
                        {% else %}
                            {% for document in documents %}
                                <div class="col-3">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                                        {% if document.title is empty %}
                                                            {{ document.fileName|slice(0,11) }}
                                                        {% else %}
                                                            {{ document.title }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="text-l mb-0 text-gray-800">
                                                        <a href="#" class="preview-link" data-id="{{ document.id }}">Aperçu</a>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="{{ path('document_download', { id: document.id }) }}">Télécharger</a>
                                                            <a class="dropdown-item" href="{{ path('document_delete', { id: document.id }) }}">Supprimer</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>



                    <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    <!-- Modale pour l'aperçu des documents -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Aperçu du document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="previewIframe" style="width: 100%; height: 80vh;"></iframe>
                </div>
            </div>
        </div>
    </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session actuelle.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    <script>

    </script>
    <script src="{{ asset('/js/bootstrap.bundle.js') }}"></script>
</body>

</html>
{% endblock %}